<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.jacksonueda.movist">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name="com.jacksonueda.movist.App"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <activity
            android:name="com.jacksonueda.movist.features.movies.MoviesActivity"
            android:label="@string/activity_movist"
            android:windowSoftInputMode="stateHidden">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".features.movieDetails.MovieDetailsActivity"
            android:windowSoftInputMode="stateHidden" />

        <provider
            android:name=".data.local.Provider"
            android:authorities="com.jacksonueda.movist"
            android:exported="false"
            android:syncable="true" />
    </application>

</manifest>